.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 2%;
  width: 90%;
  border: 10px lightblue solid;
  outline: 5px white solid;
  background-color: white;
  padding: 0 20px;
}
input[type="search"] {
  border: 1px solid gray;
  padding: 7px;
}
.search-submit {
  background-color: slateblue;
  color: white;
  text-align: center;
  display: block;
  width: 60px;
  padding: 10px;
  border-radius: 5%;
  cursor: pointer;
}
.float-right {
  margin-left: auto;

}

footer {
  display: flex;
  justify-content: center;
}


header {
  width: 100%;
  display: flex;
  margin-top: 1%;
  align-items: flex-end;
}
header * {
  margin: 2% 1%;
}

header p,
header h2 {
  text-transform: uppercase;
  font-family: sans-serif;
}
.student-container {
  display: flex;
  width: 100%;
  border-bottom: 1px lightgray solid;
  height: 50px;
  padding: 10px;
}
.student-container img {
  margin-right: 10px;
  border-radius: 50%;
}
.pagination {
  margin: 20px 5px;
  padding: 2px 5px;
  background-color: lightgray;
  color: slateblue;
  cursor: pointer;
}
.pagination-selected {
  margin: 20px 5px;
  padding: 2px 5px;
  background-color: slateblue;
  color: lightgray;
  cursor: pointer;
}
.join-date {
  margin: 0 10px;
}
